[package]
name = "nam-sparse-merkle-tree"
authors = ["Anjan Roy <hello@itzmeanjan.in>"]
description = "Sparse merkle tree implementation in rust"
edition = "2024"
resolver = "3"
license = "MIT"
repository = "https://github.com/itzmeanjan/sparse-merkle-tree"
version = "0.1.0"

[features]
default = ["std", "blake2b", "borsh"]
std = []
blake2b = ["dep:blake2"]
borsh = ["dep:borsh"]

[dependencies]
blake2 = { version = "=0.10.6", optional = true }
borsh = { version = "1.2.0", optional = true, features = [
    "unstable__schema",
    "derive",
] }
cfg-if = "1.0.0"
ics23 = "0.12.0"
itertools = "0.14.0"
sha2 = "0.10.8"

[dev-dependencies]
criterion = "0.5.1"
hex = "0.4"
proptest = "1.0.0"
rand = "0.8.3"
random-string = "1.0.0"

[[bench]]
name = "smt_benchmark"
harness = false

[profile.optimized]
inherits = "release"
codegen-units = 1
lto = true
panic = "abort"
opt-level = 3

[profile.test-release]
inherits = "release"
debug = true
debug-assertions = true
overflow-checks = true
opt-level = 3
